.bgcont{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/codingbg.png");
    height:100vh;
    background-size:cover;
}
.cardcont{
    background-color:#00000080;
    padding:10px;
    margin:10px;
    border-style:solid;
    border-color:#48ee59;
    border-width:8px;

}
.heading{
    margin:25px;
    padding:15px;
    color:white;
    font-family:"breeserif";
    font-size:50px;
    tetx-align:center;
    
}