
.main-heading{
    color:aqua;
    font-family:"roboto";
    font-size:40px;
    font-style:italic;
    font-weight: bolder;
    text-decoration:underline ;
}
.para{
    color:rgb(110, 97, 184);
}
.bg-container{
    background-image: url("https://img.freepik.com/free-photo/beautiful-tropical-beach-sea-ocean-with-white-cloud-blue-sky-copyspace_74190-8663.jpg?t=st=1732949219~exp=1732952819~hmac=d5a50c7013501d3f9eb310c673cef330fbb2f8b2dd301240ae56af00ecdc15ca&w=996");
     height: 90vh;
     background-size: cover;
}
.tourism-card{
    background-color:whitesmoke;
    text-align: center;
    border-top-right-radius:20px;
    border-top-left-radius: 20px;;
    padding: 10px;
    

}
