
.main-heading{
    color:aqua;
    font-family:"roboto";
    font-size:40px;
    font-style:italic;
    font-weight: bolder;
    text-decoration:underline ;
}
.para{
    color:rgb(110, 97, 184);
}
.bg-container{
    background-image: url("https://img.freepik.com/free-photo/beautiful-tropical-beach-sea-ocean-with-white-cloud-blue-sky-copyspace_74190-8663.jpg?t=st=1732949219~exp=1732952819~hmac=d5a50c7013501d3f9eb310c673cef330fbb2f8b2dd301240ae56af00ecdc15ca&w=996");
     height: 90vh;
     background-size: cover;
}
.tourism-card{
    background-color:whitesmoke;
    text-align: center;
    border-top-right-radius:20px;
    border-top-left-radius: 20px;;
    padding: 10px;
}
.favplacebgcontainer{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/towerbg.png");
    height:100vh;
    background-size: cover;
    
}
.favplaceheading{
    color:white;
    font-family:"roboto";
    font-weight:bold;
    font-size:28px;
    padding:24px;
    


}
.fav-place-card-container{
    background-color:white;
    border-radius:8px;
    padding:16px;
    margin:10px;

}
.fav-place-card-heading{
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 23px;
    font-weight: bold;
    
}
.fav-place-card-description{
    color: #6c6b70;
  font-family: "Roboto";
  font-size: 13px;
}
.fav-place-card-image{
    height:80px;
    width:100px;
    padding:10px;

   
}

.detailed-view-bg-container{
 background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/seabg.png");
 height:100vh;
 background-size:cover;
}
.detailed-view-heading{
    color: white;
  font-size: 28px;
  font-family: 'Roboto';
  font-weight: bold;
  padding: 24px;
}
.detailed-card-heading{
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 23px;
    font-weight: bold;
}
.detailed-view-card-container{
  background-color: white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin: 24px;
  
}
.detailed-card-description{
    color: #6c6b70;
  font-family: "Roboto";
  font-size: 13px;
}
.detailed-view-card-text-container{
    padding:20px;
}
#section-detailed-goldentemple {
    display: none;
}
